@{
    ViewBag.Title = "Site Map";
}

<div id="main-container">
    <h2>Site Map</h2>

    <ul>
        <li>@Html.ActionLink("Home", "Index")</li>
        <li>@Html.ActionLink("About Us", "About")</li>
        <li>@Html.ActionLink("Our Work", "Clients")</li>
        <li>@Html.ActionLink("Dev Work", "Development")</li>
        <li>@Html.ActionLink("Contact Us", "Contact")</li>
        <li>@Html.ActionLink("Site Map", "SiteMap")</li>
    </ul>
</div>